@import url('https://webfontworld.github.io/GmarketSans/GmarketSans.css');

/* =================== common =================== */
.com-sub-tit{
  font:400 16px/1 'GmarketSans'; letter-spacing: -1px;
  color: $s-color;
  margin-bottom: 25px;
}
.com-tit{
  font:bold 36px/1 'GmarketSans';
  margin-bottom: 10px;
  span{
    font-weight: 400;
  }
}
.com-txt{
  font-weight: 500; font-size: 18px;
}
.more-btn{
  display: inline-block;
  img{
    width: 65px; height: 65px;
  }
}
.txt-shadow{
  font-weight: 800; font-size: 18px; color: #000;
  position: relative; z-index: 1;
  @include make-before{
    position: absolute; 
    left: 0; width: 100%; height: 50%; top: 15px;
    background: #d2e3a5; border-radius: 10px;
    z-index: -1;
  }
}
.go-top {
  display:block;position: fixed; /*bottom:283px; */bottom:40px;right:20px; z-index:99;width:44px;height:44px; transition: all 0.4s ease-in-out; opacity: 0;
  &.is-show{
    opacity: 1;
    bottom: 20px;
  }
}
.go-top > a {display:block;overflow:hidden;width:44px; height:44px; display:block; background-color:$m-color;background-image:url(../img/arw-btn-go-top.png);background-repeat:no-repeat;background-position:50% 50%;border-radius:6px;background-size:14px 8px;}
@media only screen and (max-width:1171px){
  .go-top {/*bottom:59vh;*/bottom:4vw;right:4vw;}
}

/* =================== visual =================== */
.visual{
  position: relative;
  height: 670px;
  &-img{
    left: 0; right: 0; top: 0; bottom: 0;
    position: absolute;
    img{
      width: 100%; object-fit: cover;
    }
  }
  .inner{
    position: relative; z-index: 10;
    padding-left: 50px; padding-top:105px;
  }
  .tit-txt{
    margin-top: 35px;
    font-size: 19px; font-weight: 500;
  }
  .count-wrap{
    width: 405px;
    position: relative; z-index: 2;
    margin-top: 35px;
    >*{
      display: inline-block;
    }
    .visual-prev,.visual-next{
      cursor: pointer;
    }
    .visual-nav-wrap{
      position: relative; top: 2px;
      width: 75px;
      text-align: center;
      >*{display: inline-block;}
      font-weight: 500; font-size: 16px;
      .num-current{
        font-size: 26px; color: $m-color;
      }
    }
    .progressbar{
      margin-left: 27px;
    }
    .visual-stop{
      margin-left: 10px;
      cursor: pointer;
    }
    .visual-start{
      display: none;
      margin-left: 10px;
      cursor: pointer; position: relative; top: 3px;
    }
  }
  .swiper-pagination-bullet{
    width: 63px!important; height: 5px!important;
    border-radius: 5px!important;
    transition: all 0.4s ease-in-out;
  }
  .swiper-pagination-bullet + .swiper-pagination-bullet{
    margin-left: 5px;
  }
  .swiper-pagination-bullet-active{
    background: $m-color!important;
  }
}

/* =================== service =================== */
.service{
  display: flex;
  margin-top: -170px;
  position: relative; z-index: 2;
  .service__tit{
    position: relative;
    top: 10px; left: -  10px;
    img{
      width: 320px;
    }
  }
  &__list{
    li{
      @extend %box-shadow;
      transition: all 0.4s ease-in-out;
      &:hover{
        box-shadow: 10px 16px 23.76px 0.24px rgba(16, 28, 8, 0.33);
        img{
          transform: rotateY(-180deg);
        }
      }
      a{
        width: 100%; height: 140px;
        background: #fff;
        display: inline-flex;
        align-items: center; justify-content: center;
        .img{
          width: 100px; height: 100px;
          background: #f6f9f2; border-radius: 50%;
          margin-right: 15px;
          position: relative;
          display: flex; align-items: center; justify-content: center;
          img{
            transition: all 0.4s ease-in-out;
            // @include poa-center;
          }
        }
        .txt{
          font-size: 18px; font-weight: 400; text-align: center; color: #000;
        }
        &:hover{
          background: $m-color;
          .img{
            background: #fff;
          }
          .txt{
            color: #fff;
          }
        }
      }
    }
  }
}

/* =================== promotion =================== */
.promotion{
  @include bg-url("img","bg-service.png","cover");
  .inner{
    padding: 100px 0;
    .lef{
      flex:0 0 27.5%; /* 330/1200 */
    }
    .ref{
      flex:1;
    }
  }
}

/* =================== clinic-service =================== */
.clinic-service{
  @include bg-url("img","bg-clinic-service.png","cover");
  .inner{
    padding: 100px 0;
    >*{
      flex:1;
    }
    .lef{
      flex:0 0 39.166667%; /* 470/1200 */
    }
    .ref{
      ul{
        gap: 15px;
        li{
          position: relative;
          flex:1 1 calc(33.3% - 15px);
          height: 300px; background: #fff;
          @extend %box-shadow; 
          padding: 25px 20px; box-sizing: border-box;

          @for $i from 1 through 6 {
            &:nth-of-type(#{$i}){
              @include make-after{
                position: absolute; right: 20px; bottom: 25px;
                width: 109px; height: 109px;
                @include bg-url('img',"clinic0#{$i}.png","cover");
              }
            }
          }

          .nums{
            display: inline-block; margin-bottom: 10px;
            width: 43px; height: 33px; border-radius: 10px;
            font-size: 18px; line-height: 33px; letter-spacing: 0px;
             color: #fff; text-align: center;

            $bg-colors : (
               type1 : #a9d35c,
               type2 : #94be47,
               type3 : #77a630,
               type4 : #57a120,
               type5 : #408b12,
               type6 : #19640a,
            );

            @each $type , $color in $bg-colors {
              &.#{$type}{
                background: #{$color},
              } 
            }
          }
          .txt{
            font-size: 24px; font-weight: 500; 
          }
        }
      }
    }
  }
}