@import url('https://webfontworld.github.io/GmarketSans/GmarketSans.css');

/* =================== common =================== */
.com-sub-tit{
  font:400 1rem/1 'GmarketSans'; letter-spacing: -0.0625rem;
  color: $s-color;
  margin-bottom: 1.5625rem;
}
.com-tit{
  font:bold 2.25rem/1 'GmarketSans';
  margin-bottom: 0.625rem;
  span{
    font-weight: 400;
  }
}
.com-txt{
  font-weight: 500; font-size: 1.125rem;
}
.more-btn{
  display: inline-block;
  img{
    width: 4.0625rem; height: 4.0625rem;
  }
}
.txt-shadow{
  font-weight: 800; font-size: 1.125rem; color: #000;
  position: relative; z-index: 1;
  @include make-before{
    position: absolute; 
    left: 0; width: 100%; height: 50%; top: 0.9375rem;
    background: #d2e3a5; border-radius: 0.625rem;
    z-index: -1;
  }
}
.go-top {
  display:block;position: fixed; /*bottom:17.6875rem; */bottom:2.5rem;right:1.25rem; z-index:99;width:2.75rem;height:2.75rem; transition: all 0.4s ease-in-out; opacity: 0;
  &.is-show{
    opacity: 1;
    bottom: 1.25rem;
  }
}
.go-top > a {display:block;overflow:hidden;width:2.75rem; height:2.75rem; display:block; background-color:$m-color;background-image:url(../img/arw-btn-go-top.png);background-repeat:no-repeat;background-position:50% 50%;border-radius:0.375rem;background-size:0.875rem 0.5rem;}
@media only screen and (max-width:73.1875rem){
  .go-top {/*bottom:59vh;*/bottom:4vw;right:4vw;}
}

/* =================== visual =================== */
.visual{
  position: relative;
  height: 41.875rem;
  &-img{
    left: 0; right: 0; top: 0; bottom: 0;
    position: absolute;
    img{
      width: 100%; object-fit: cover;
    }
  }
  .inner{
    position: relative; z-index: 10;
    padding-left: 3.125rem; padding-top:6.5625rem;
  }
  .tit-txt{
    margin-top: 2.1875rem;
    font-size: 1.1875rem; font-weight: 500;
  }
  .count-wrap{
    width: 25.3125rem;
    position: relative; z-index: 2;
    margin-top: 2.1875rem;
    >*{
      display: inline-block;
    }
    .visual-prev,.visual-next{
      cursor: pointer;
    }
    .visual-nav-wrap{
      position: relative; top: 0.125rem;
      width: 4.6875rem;
      text-align: center;
      >*{display: inline-block;}
      font-weight: 500; font-size: 1rem;
      .num-current{
        font-size: 1.625rem; color: $m-color;
      }
    }
    .progressbar{
      margin-left: 1.6875rem;
    }
    .visual-stop{
      margin-left: 0.625rem;
      cursor: pointer;
    }
    .visual-start{
      display: none;
      margin-left: 0.625rem;
      cursor: pointer; position: relative; top: 0.1875rem;
    }
  }
  .swiper-pagination-bullet{
    width: 3.9375rem!important; height: 0.3125rem!important;
    border-radius: 0.3125rem!important;
    transition: all 0.4s ease-in-out;
  }
  .swiper-pagination-bullet + .swiper-pagination-bullet{
    margin-left: 0.3125rem;
  }
  .swiper-pagination-bullet-active{
    background: $m-color!important;
  }
}

/* =================== service =================== */
.service{
  display: flex;
  margin-top: -10.625rem;
  position: relative; z-index: 2;
  .service__tit{
    position: relative;
    top: 0.625rem; left: -  0.625rem;
    img{
      width: 20rem;
    }
  }
  &__list{
    li{
      @extend %box-shadow;
      transition: all 0.4s ease-in-out;
      &:hover{
        box-shadow: 0.625rem 1rem 1.485rem 0.015rem rgba(16, 28, 8, 0.33);
        img{
          transform: rotateY(-180deg);
        }
      }
      a{
        width: 100%; height: 8.75rem;
        background: #fff;
        display: inline-flex;
        align-items: center; justify-content: center;
        .img{
          width: 6.25rem; height: 6.25rem;
          background: #f6f9f2; border-radius: 50%;
          margin-right: 0.9375rem;
          position: relative;
          display: flex; align-items: center; justify-content: center;
          img{
            transition: all 0.4s ease-in-out;
            // @include poa-center;
          }
        }
        .txt{
          font-size: 1.125rem; font-weight: 400; text-align: center; color: #000;
        }
        &:hover{
          background: $m-color;
          .img{
            background: #fff;
          }
          .txt{
            color: #fff;
          }
        }
      }
    }
  }
}

/* =================== promotion =================== */
.promotion{
  @include bg-url("img","bg-service.png","cover");
  .inner{
    padding: 6.25rem 0;
    .lef{
      flex:0 0 27.5%; /* 330/1200 */
    }
    .ref{
      flex:1;
    }
  }
}

/* =================== clinic-service =================== */
.clinic-service{
  @include bg-url("img","bg-clinic-service.png","cover");
  .inner{
    padding: 6.25rem 0;
    >*{
      flex:1;
    }
    .lef{
      flex:0 0 39.166667%; /* 470/1200 */
    }
    .ref{
      ul{
        gap: 0.9375rem;
        li{
          position: relative;
          flex:1 1 calc(33.3% - 0.9375rem);
          height: 18.75rem; background: #fff;
          @extend %box-shadow; 
          padding: 1.5625rem 1.25rem; box-sizing: border-box;

          @for $i from 1 through 6 {
            &:nth-of-type(#{$i}){
              @include make-after{
                position: absolute; right: 1.25rem; bottom: 1.5625rem;
                width: 6.8125rem; height: 6.8125rem;
                @include bg-url('img',"clinic0#{$i}.png","cover");
              }
            }
          }

          .nums{
            display: inline-block; margin-bottom: 0.625rem;
            width: 2.6875rem; height: 2.0625rem; border-radius: 0.625rem;
            font-size: 1.125rem; line-height: 2.0625rem; letter-spacing: 0rem;
             color: #fff; text-align: center;

            $bg-colors : (
               type1 : #a9d35c,
               type2 : #94be47,
               type3 : #77a630,
               type4 : #57a120,
               type5 : #408b12,
               type6 : #19640a,
            );

            @each $type , $color in $bg-colors {
              &.#{$type}{
                background: #{$color},
              } 
            }
          }
          .txt{
            font-size: 1.5rem; font-weight: 500; 
          }
        }
      }
    }
  }
}